<section class="content-header">
    <h1>House<small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.house">List of Houses</a></li>
        <li class="active">Add House</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add House</h3>
                </div>
                <form class="form-horizontal" name="houseForm" ng-submit="vm.save(houseForm.$valid, cityForm)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': houseForm.street.$invalid && ( vm.formSubmitted || houseForm.street.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">Street</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="vm.street" ng-options="street as street.name for street in vm.streets track by street.id"></select>
                                <p ng-show="houseForm.street.$error.required && ( vm.formSubmitted || houseForm.street.$touched)" class="help-block">Street is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': houseForm.name.$invalid && ( vm.formSubmitted || houseForm.name.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">Number</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="vm.number" name="number" placeholder="Number" required>
                                <p ng-show="houseForm.number.$error.required && ( vm.formSubmitted || cityForm.number.$touched)" class="help-block">Number is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.house" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Add New</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
