<section class="content-header">
    <h1>City<small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.city">Cities Lists</a></li>
        <li class="active">Edit City</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit City</h3>
                </div>
                <form class="form-horizontal" name="districtForm" ng-submit="vm.save(districtForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': districtForm.city_id.$invalid && ( vm.formSubmitted || districtForm.city_id.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="vm.city">
                                    <option ng-repeat="city in vm.cities" ng-value="city.id" ng-selected="vm.district.data.city_id == city.id">{{city.name}}</option>
                                </select>
                                <p ng-show="districtForm.city.$error.required && ( vm.formSubmitted || districtForm.city.$touched)" class="help-block">City is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': districtForm.name.$invalid && ( vm.formSubmitted || districtForm.name.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">District name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.district.data.name" name="name" placeholder="District name" required>
                                <p ng-show="districtForm.name.$error.required && ( vm.formSubmitted || districtForm.name.$touched)" class="help-block">Name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.district" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
