<form ng-submit="vm.login()" method="post" name="vm.loginForm">
  <div class="callout callout-danger" ng-if="vm.loginfailederror">
    <h4>Login Failed</h4>
    <p>{{ vm.loginfailederror }}</p>
  </div>
  <div class="callout callout-danger" ng-if="vm.loginfailed">
    <h4>Login Failed</h4>
    <p>Incorrect Email/Username or Password.</p>
  </div>
  <div class="callout callout-danger" ng-if="vm.unverified">
    <h4>Email Unverified</h4>
    <p>Please check your email and click the verification link.</p>
  </div>
  <div class="callout callout-success" ng-if="vm.registerSuccess">
    <h4>Registration Success!</h4>
    <p>A verification link has been sent to your Email Account. Thank You!</p>
  </div>
  <div class="callout callout-success" ng-if="vm.successMsg">
    <h4>Success!</h4>
    <p>{{ vm.successMsg }}</p>
  </div>
  <div class="form-group has-feedback">
    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="vm.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.password" ng-required="true">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary btn-block btn-flat">
        Sign In
      </button>
    </div>
  </div>
</form>