<section class="content-header">
    <h1>Street<small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.district">Cities Lists</a></li>
        <li class="active">Edit Street</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Street</h3>
                </div>
                <form class="form-horizontal" name="streetForm" ng-submit="vm.save(streetForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': streetForm.city.$invalid && ( vm.formSubmitted || streetForm.city.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">district</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="vm.district" ng-options="district as district.name for district in vm.districts track by district.id"></select>
                                <p ng-show="streetForm.district_id.$error.required && ( vm.formSubmitted || streetForm.district.$touched)" class="help-block">district is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': streetForm.name.$invalid && ( vm.formSubmitted || streetForm.name.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">Street</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Street" required>
                                <p ng-show="streetForm.name.$error.required && ( vm.formSubmitted || streetForm.name.$touched)" class="help-block">Street is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.street" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
