<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image" onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=A&w=45&h=45&txtsize=16'">
      </div>
      <div class="pull-left info">
        <p>{{vm.userData.name | capitalize}}</p>
        <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a ui-sref='app.landing'>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.chartjs"><i class="fa fa-circle-o"></i> <span>Stats</span></a>
      </li>
      <li>
        <a ui-sref="app.crime"><i class="fa fa-circle-o"></i> <span>Crime</span></a>
      </li>
      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-cog"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a ui-sref='app.city'><i class="fa fa-building"></i> <span>City</span></a>
          </li>
          <li>
            <a ui-sref='app.district'><i class="fa fa-area-chart"></i> <span>District</span></a>
          </li>
          <li>
            <a ui-sref='app.street'><i class="fa fa-road"></i> <span>Street</span></a>
          </li>
          <li>
            <a ui-sref='app.house'><i class="fa fa-building"></i> <span>House</span></a>
          </li>
        </ul>
      </li>

      <!---->
      <!--<li class="treeview" ng-show="vm.can('manage.users')">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-users"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li ng-show="vm.can('manage.users')" class="active"><a ui-sref='app.userlist'><i class="fa fa-circle-o"></i> <span>User List</span></a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview" ng-show="vm.can('manage.roles') || vm.can('manage.permissions')">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-cog"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li ng-show="vm.can('manage.roles')"><a ui-sref='app.userroles'><i class="fa fa-circle-o"></i> <span>User Roles</span></a></li>-->
          <!--<li ng-show="vm.can('manage.permissions')"><a ui-sref='app.userpermissions'><i class="fa fa-circle-o"></i> <span>User Permissions</span></a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-files-o"></i>-->
          <!--<span>Layout Options</span>-->
          <!--<span class="label label-primary pull-right">4</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Top Navigation</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Boxed</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Fixed</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a ui-sref="app.widgets">-->
          <!--<i class="fa fa-th"></i> <span>Widgets</span>-->
          <!--<small class="label pull-right bg-green">new</small>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-pie-chart"></i>-->
          <!--<span>Charts</span>-->
          <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.chartjs"><i class="fa fa-circle-o"></i> ChartJS</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Morris</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Flot</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Inline charts</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-laptop"></i>-->
          <!--<span>UI Elements</span>-->
          <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.uigeneral"><i class="fa fa-circle-o"></i> General</a></li>-->
          <!--<li><a ui-sref="app.uiicons"><i class="fa fa-circle-o"></i> Icons</a></li>-->
          <!--<li><a ui-sref="app.uibuttons"><i class="fa fa-circle-o"></i> Buttons</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Sliders</a></li>-->
          <!--<li><a ui-sref="app.uitimeline"><i class="fa fa-circle-o"></i> Timeline</a></li>-->
          <!--<li><a ui-sref="app.uimodal"><i class="fa fa-circle-o"></i> Modals</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-edit"></i> <span>Forms</span>-->
          <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.formsgeneral"><i class="fa fa-circle-o"></i> General Elements</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Editors</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-table"></i> <span>Tables</span>-->
          <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.tablessimple"><i class="fa fa-circle-o"></i> Simple tables</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Data tables</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a ui-sref="app.comingsoon">-->
          <!--<i class="fa fa-calendar"></i> <span>Calendar</span>-->
          <!--<small class="label pull-right bg-red">3</small>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a ui-sref="app.comingsoon">-->
          <!--<i class="fa fa-envelope"></i> <span>Mailbox</span>-->
          <!--<small class="label pull-right bg-yellow">12</small>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="header">LABELS</li>-->
      <!--<li class="treeview">-->
        <!--<a href="javascript:void(0)">-->
          <!--<i class="fa fa-folder"></i> <span>Examples</span>-->
          <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Invoice</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Profile</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Login</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Register</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Lockscreen</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> 404 Error</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> 500 Error</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Blank Page</a></li>-->
          <!--<li><a ui-sref="app.comingsoon"><i class="fa fa-circle-o"></i> Pace Page</a></li>-->
        <!--</ul>-->
      <!--</li>-->


    </ul>
  </section>
</aside>
