<section class="content-header">
    <h1>Districts <small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">District List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">District</h3>
                    <div class="box-tools pull-right">
                        <a ui-sref="app.districtadd" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="box-body">
                    <select class="form-control" ng-model="vm.city" ng-change="vm.change()" ng-options="city as city.name for city in vm.cities track by city.id"></select>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"></table>
                </div>
            </div>
        </div>
    </div>
</section>
