<section class="content-header">
    <h1>Houses <small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">House List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">House</h3>
                    <div class="box-tools pull-right">
                        <a ui-sref="app.houseadd" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</section>
