<section class="content-header">
    <h1>Crimes <small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Crime List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Crime</h3>
                    <div class="box-tools pull-right">
                        <a ui-sref="app.crimeadd" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="content-header">-->
    <!--<h1>Crimes <small>Module description here</small></h1>-->
    <!--<ol class="breadcrumb">-->
        <!--<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li class="active">Crime List</li>-->
    <!--</ol>-->
<!--</section>-->
<!--<section class="content">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<div class="box">-->
                <!--<div class="box-header">-->
                    <!--<h3 class="box-title">Responsive Hover Table</h3>-->
                    <!--&lt;!&ndash;<div class="box-tools">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="input-group input-group-sm" style="width: 150px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input name="table_search" class="form-control pull-right" placeholder="Search" type="text">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="input-group-btn">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="box-tools pull-right">-->
                        <!--<a ui-sref="app.crimeadd" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Add New</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!--<div class="box-body table-responsive no-padding">-->
                    <!--<table class="table table-hover" datatable="" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.box &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->