<section class="content-header">
    <h1>City<small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.cities">List of Cities</a></li>
        <li class="active">Add City</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add City</h3>
                </div>
                <form class="form-horizontal" name="cityForm" ng-submit="vm.save(cityForm.$valid, cityForm)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': cityForm.name.$invalid && ( vm.formSubmitted || cityForm.name.$touched) }">
                            <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Name" required>
                                <p ng-show="cityForm.name.$error.required && ( vm.formSubmitted || cityForm.name.$touched)" class="help-block">Name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.city" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Add New</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
